body {
    display: grid;
    place-content: center;
    margin: 0;
    height: 90vh;
    background-image: linear-gradient(to right, rgb(240, 70, 70) , rgb(228, 228, 106));


  }
  
  p{
    font-family: poppins;
    font-size: 70px;
    line-height: 50px;
    color: white;
    text-align: center;
    position: relative;
  }

  h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    line-height: 5px;
    color: white;
    text-align: center;
  }
  
  .container {
    height: 500px;
    width: 500px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    display: grid;
    box-shadow: 5px 10px 20px rgb(49, 49, 49);
    border: 1px solid rgb(119, 119, 119);
    place-items: center;
  }
  
  .d1 {
    position: absolute;
    height: 350px;
    width: 350px;
    background: #f0a028;
    border-radius: 23% 30% 32% 27% / 37% 31% 62% 46%;
    left: -60px;
    top: -60px;
  }
  
  .d2 {
    position: absolute;
    height: 350px;
    width: 350px;
    background: #f30928;
    border-radius: 32% 50% 32% 49% / 13% 42% 54% 46%;
    left: -60px;
    bottom: -60px;
  }
  
  .d3 {
  position: absolute;
    height: 350px;
    width: 350px;
    background:  rgb(211, 231, 29);
    border-radius: 32% 50% 32% 49% / 13% 42% 54% 46%;
    right: -60px;
    top: -60px;
  }
  
  .d4 {
    position: absolute;
    height: 350px;
    width: 350px;
    background: #09ceff;
    border-radius: 23% 30% 32% 27% / 37% 31% 62% 46%;
    right: -60px;
    bottom: -60px;
  }
  
  .d1, .d2, .d3, .d4 {
    filter: blur(90px);
    mix-blend-mode:hue;
  }

  Button{

    background-color: rgb(160, 143, 160);
    text-align: center;
    height: 35px;
    width: 80px;
    border: 1px solid rgb(10, 75, 10);
    position: relative;
    

  }

  Button:hover {background-color: #8f2752}
  Button:active {
    background-color: #8f2752;
    box-shadow: 0 4px #666;
    transform: translateY(2px);
  }

  .milli{
    font-size: 25px;
  }


  